:root {
  --rosso: rgb(140, 39, 30);
  --colore2: rgb(171, 161, 148);
  --colore3: rgb(207, 203, 202);
  --colore4: rgb(216, 221, 222);
  --colore5: rgb(217, 247, 250);
}

body {
  font-family: 'Fira Code', monospace;
  background-color: var(--colore4);
}

.masthead {
  height: 65vh;
  min-height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.103), rgba(0, 0, 0, 0.126)), url('/public/img/sfondo1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar {
  background-color: var(--colore3);
}

.img-custom {
  height: 500px;
  width: 600px;

}

.bg-desc{
  border-radius: 20%;
  
}

.card-custom {
  margin-bottom: 50px;

}

.card-custom:hover {
  transform: scale(1.07);
  transition: 0.7s;
  border-radius: 30px;
  box-shadow: 10px 10px 30px var(--rosso);

}

.card-custom:not(:hover) {
  transition: all 0.7s ease;
  transform: translateX(0);
}



.myButton {
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  display: inline-flex;
  font-family: CircularStd, sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s, background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  margin-top: 5px;
  margin-left: 10px;
}

.myButton:hover {
  color: #FFFFFF;
}

.buttons-wrapper {
  margin-top: 200px;
}

.myButton:active {
  position: relative;
  top: 1px;
}

a {
  text-decoration: none;
}

.bg-form {
  background-color: var(--colore5);
  border-radius: 50px;
  border: solid 2px var(--colore2);
  padding: 50px;
  height: max-content;
}

.img-alt {
  height: 300px;
}

li {
  list-style: none;
}

.user-log {
  font-size: 20px;
  font-style: oblique;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer {
  /* position: absolute; */
  background-color: var(--colore3);


}

.Logo {
  height: 55px;
  width: 90px;
}

.img-preview {
  width: 700px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img-welcome {
  width: 400px;
  height: 250px;
}

.dropdown-menu {
  background-color: var(--colore3);
}

.dropdown-item:hover {
  background-color: var(--colore5);
}

.search {
  width: 35%;
}

@media (max-width:500px) {
  .search {
    width: 80%;

  }

  .form-control {
    border-radius: 100px;
    margin-bottom: 10px;

  }

  .btn-search {
    height: 38px;
    width: 60px;
  }

  .card-custom:hover {
    transform: scale(1.02);
    transition: 0.7s;
    border-radius: 30px;
    box-shadow: 10px 10px 30px var(--rosso);
  }

  .bg-form {
    padding: 5%;
    margin-top: 50px;
  }

  .img-custom {
    display: block;
    height: 100%;
    width: 100%;
  }

  .buttons-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-right: 50px;
  }
}

.btn-search {
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  display: inline-flex;
  font-family: CircularStd, sans-serif;
  font-size: 1rem;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s, background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}