:root {
  --colore2: #aba194;
  --blue: #007BFF;
  --colore4: #F5F5F5;
  --colore5: #333333;
  --rosso: #8c271e;
}

body {
  font-family: 'Fira Code', monospace;
  background-color: var(--colore4);
  color: var(--colore5);
}

.masthead {
  height: 65vh;
  min-height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.103), rgba(0, 0, 0, 0.126)), url('/public/img/sfondo1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar {
  background-color: var(--colore4);
  border-bottom: 2px solid var(--rosso);
  color: #8c271e;
  font-size: 100% !important;
}

.img-custom {
  height: 500px;
  width: 600px;

}

.bg-desc {
  border-radius: 20%;
  padding: 30px;
  background-color: var(--colore4);
  overflow-wrap: break-word;
}

.arrow {
  color: var(--blue);
}

.card-custom {
  margin-bottom: 50px;
  width: 25rem;

}

.card-custom:hover {
  transform: scale(1.07);
  transition: 0.7s;
  border-radius: 30px;
  box-shadow: 10px 10px 30px var(--blue);

}

.card-custom:not(:hover) {
  transition: all 0.7s ease;
  transform: translateX(0);
}

.myButton {
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  display: inline-flex;
  font-family: CircularStd, sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s, background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  margin-top: 5px;
  margin-left: 10px;
}

.myButton:hover {
  color: #FFFFFF;
}

.buttons-wrapper {
  margin-top: 80px;
}

.myButton:active {
  position: relative;
  top: 1px;
}

a {
  text-decoration: none;
}

.bg-form {
  background-color: var(--colore4);
  border-radius: 50px;
  border: 2px;
  padding: 50px;
  height: max-content;
}

.img-alt {
  height: 300px;
}

li {
  list-style: none;
}

.user-log {
  font-size: 20px;
  font-style: oblique;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer {
  background-color: var(--colore1);
}

.btn-custom {
  border-radius: 10px;
  border: 0;
  background-color: var(--colore4);
}

.Logo {
  height: 55px;
  width: 90px;
}

.img-preview {
  width: 700px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img-welcome {
  width: 400px;
  height: 250px;
}

.dropdown-menu {
  background-color: var(--colore4);
  /* position: absolute; */
}
/* .dropdown-item{
  display: flex;
  flex-direction: row;
} */
.dropdown-item:hover {
  background-color: var(--colore5);
}

.search {
  width: 35%;
}


@media (max-width:700px) {
  .search {
    width: 80%;

  }

  .form-control {
    border-radius: 100px;
    margin-bottom: 10px;

  }

  .btn-search {
    height: 38px;
    width: 60px;
  }

  .card-custom:hover {
    transform: scale(1.02);
    transition: 0.7s;
    border-radius: 30px;
    box-shadow: 10px 10px 30px var(--blue);
  }

  .bg-form {
    padding: 5%;
    margin-top: 50px;
  }

  .img-custom {
    display: block;
    height: 100%;
    width: 100%;
  }

  .buttons-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-right: 50px;
  }

  .bg-desc {
    border-radius: 5%;
    padding: 0% 30px;
    border-radius: 40px;
    background-color: var(--colore4);
  }

  /* * {
    font-size: 70%;
  } */

  .dropdown-menu{
    justify-content:left;

  }

  .navbar-collapse {
    font-size: 7rem;
  }

  footer {
    font-size: 1rem;
  }
  .link-footer{
    display: flex;
    justify-content: center;
  }

  .nav-link {
    font-size: 1.5rem;
  }

  .Logo {
    height: 100%;
    width: 15%;
  }
  .dropdown-menu{
    position: relative;
  }
}

.btn-search {
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  display: inline-flex;
  font-family: CircularStd, sans-serif;
  font-size: 1rem;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s, background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.title {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: royalblue;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: royalblue;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message,
.signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: royalblue;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input+span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown+span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus+span,
.form label .input:valid+span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid+span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }



}

.dropdown-pull-right {
  float: right !important;
  right: 0;
  left: auto;
}